@use 'base/variables' as v;
@use 'base/mixins' as m;

  #mainC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: v.$blanco;
    font-family: sans-serif;
    max-width: 340px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    
    .message {
        margin-top: 5rem;
        font-size: 1.8rem;
        text-align: center;
        h1 {
            margin: 0;
            padding: 0;
            font-size: 12rem;
            transform: skewY(-5deg);
            transition: 0.4s ease-in-out all;
            &:hover {
            text-shadow: 20px 20px 0 fade(#afd33d, 10%);
            }
            @media (max-width: 300px) {
            font-size: 50vw;
            }
        }
        h3 {
            color: #afd33d;
            font-size: 0.9em;
            font-weight: lighter;
            line-height: 1;
            @media (max-width: 300px) {
            font-size: 5vw;
            }
        }
    }
    
  }